<!DOCTYPE html>
<html lang="en">
<style>
    body
{   background-color: #B2B2B2;
    width: 100%;
    min-width: 1024px;
    position: relative;
    /* background-position: auto 1024px; */
    background-size: cover;
}
    button{
          background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }
</style>
<head>
    <meta charset="UTF-8">
     <link rel="shortcut icon" href="http://img0.sc115.com/uploads/png/130406/pie-chart_graph.png">
    <title>登录</title>
</head>
<body>
<h1 style="text-align: center">hellooooooo</h1>
<form method='post' action="/index" style="text-align: center">
    <input type="text" name="name" placeholder="输入用户名">
    <br><br>
    <input type="password" name="pass" placeholder="请输入密码">
    <br>
    <input type="submit" value="登录" name="ok">
    <input type="button" value="注册" onclick="window.open('http://www.baidu.com')">


</form>
 <button value="测试" onclick="window.open('http://www.baidu.com')">测试</button>
</body>
</html>