<!DOCTYPE html>
<html lang="en">
<style>
    body
{   background-color: #B2B2B2;
    width: 100%;
    min-width: 1024px;
    position: relative;
    /* background-position: auto 1024px; */
    background-size: cover;
}
    button{
          background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }
</style>
<head>
    <meta charset="UTF-8">
     <link rel="shortcut icon" href="http://img0.sc115.com/uploads/png/130406/pie-chart_graph.png">
    <title>登录</title>
</head>
<body>
<h1 style="text-align: center">hellooooooo</h1>
<form method='post' action="/index" name="form1" style="text-align: center">
    <input type="text" name="name" placeholder="输入用户名">
    <br><br>
    <input type="password" name="pass" placeholder="请输入密码">
    <br>
    <input type="button" value="登录" name="ok" onclick="hoe()">
    <input type="button" value="注册" onclick="window.open('http://www.baidu.com')">


</form>
<script>
    function hoe() {
    var user_name=form1.name.value;//获取表单form1的用户名的值
    var user_pwd=form1.pass.value;//获取表单form1密码值
    if((user_name=="")||(user_name==null)){//判断用户名是否为空，为空就弹出提示框"请输入用户名"，否则正常执行下面的代码。
        alert("请输入用户名！");
        form1.user.focus();//获取焦点，即：鼠标自动定位到用户名输入框，等待用户输入用户名。
        return;
    }
    else if((user_pwd=="")||(user_pwd==null)){//判断密码是否为空，为空就弹出提示框"请输入密码"，否则正常执行下面的代码。
        alert("请输入密码！");
        form1.pwd.focus();//获取焦点。
        return;}
    else {//如果用户名、密码都正常输入，则提交表单，浏览器经打开新的（主页）窗口。
        form1.submit();
        // window.location.href="http://baidu.com/";
        {#window.open("http://www.cnblogs.com/qikeyishu/");#}
    }

}
</script>
 <button value="测试" onclick="window.open('http://www.baidu.com')">测试</button>
</body>
</html>